*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Times New Roman';
}
.header{
    width: 100%;
    height: 110px;
    display: block;
    background-color: white;
    
}
.logo img{
    height: 95px;
    padding: 5px;
    padding-left: 150px;
    padding-top: 10px;
    float: left;
}
.title h1{
    color: red;
    padding: 15px;
    font-size: 75px;
    font-style: oblique;
    padding-left: 500px;
    
}
.navbar{
    background-color: black;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 30px 30px;

}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar li a:hover{
    color: red;

}
.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    padding: 30px;
    width: 200px;
    height: 305px;
    background: rgb(235, 14, 235);

}
.wrapper .sidebar h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid black;
    
}
.wrapper .sidebar ul li a{
    color: antiquewhite;
    display: block;
    font-size: 15px;
}
.wrapper .sidebar ul li:hover a{
    color: black;
}
.wrapper .content{
    width: 100%;
    margin-left: 300px;
}
.wrapper .content .info{
    margin: 10px;
    font-size: 20px;
    line-height: 25px;
}
.wrapper .content .info div{
    margin-bottom: 20px;

}
.wrapper .content .info img{
    float: inline-end;
    border-width: thick;
    border-style: solid;
    height: 200px;
    width: 200px;
    background-color: rgb(128, 0, 79);
    padding: 10px;
    margin: 10px;
    border-color: black;
}
.container{
    max-width: 1170px;
    background-color: rgb(57, 59, 175);
    margin: auto;
    padding: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: rgb(10, 1, 1);
    margin-top: 40px;
    padding: 40px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 20px;
    color: azure;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.footer-col div{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;

}
@media(max-width: 767px){

}
